<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpoweringTheNation"
        tools:targetApi="31">
        <activity
            android:name=".QuoteScreen"
            android:exported="false" />
        <activity
            android:name=".FormsScreen"
            android:exported="false" />
        <activity
            android:name=".FeesScreen"
            android:exported="false" />
        <activity
            android:name=".FeesScreen"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".LifeSkillsScreen"
            android:exported="false" />
        <activity
            android:name=".LandScapingScreen"
            android:exported="false" />
        <activity
            android:name=".SewingScreen"
            android:exported="false" />
        <activity
            android:name=".FirstAidScreen"
            android:exported="false" />
        <activity
            android:name=".GardenMaintenanceScreen"
            android:exported="false" />
        <activity
            android:name=".CookingScreen"
            android:exported="false" />
        <activity
            android:name=".ChildMindingScreen"
            android:exported="false" />
        <activity
            android:name=".SixWeeksCourseScreen"
            android:exported="false" />
        <activity
            android:name=".SixMonthsCourseScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>